# Node.js dependencies (se você usar Node.js no projeto)
node_modules/

# Arquivos de log
*.log

# Arquivos de configuração específicos de IDEs, como Visual Studio Code
.vscode/

# Sistema de cache do navegador (caso use algum)
.cache/

# Arquivos gerados por build (se houver alguma tarefa de build)
dist/

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs e editores
.idea/
